nav{}
/* header related styles */
.display{

}
    
background-color: #e5547331;
.banner{
   padding: 30px 50px 30px 200px;
    display: flex;
}
.banner .profile-picture{
    width: 635px;
    align-items: center;
}
.btn-primary{
    border-radius: 5px;
    background-color: #e55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700
    padding: 18px 35px;
    
    
}