nav{

}
.header{
    background-color: #e554733d;
    
}
.banner{
    padding: 30px 30px 30px 50px;
    display: flex;
    align-items: center;
    
    

}
.banner .paraphghra{
    padding: 0px 30px 30px 50px;
}
h1{
    font-size: 70px;
    margin-block-start: 50px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 50px;
    font-weight: bold;
    
}
}
.banner .p-image{
    width: 635px;
    height: 800px;
    
    
}
.btn-primary{
    border-radius: 5px;
    background-color: #e55473;
    border: 0;
    color: white;
    font-weight: 700;
    padding: 18px 35px;
    font size: 20px;
    
    
}
