nav{

}
.header{
    background-color: #e554733d;
}
.banner{
    padding: 30px 30px 30px 150px;

}
.p-image{
    display: grid;
}
.btn-primary{
    border-radius: 5px;
    background-color: #e55473;
    border: 0;
    color: white;
    font-weight: 700;
    padding: 18px 35px;
    font size: 20px;
    
}
